[submodule "vim/pack/base/start/vim-smoothie"]
	path = vim/pack/base/start/vim-smoothie
	url = git@github.com:psliwka/vim-smoothie.git
[submodule "vim/pack/base/start/vim-surround"]
	path = vim/pack/base/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/base/start/vim-commentary"]
	path = vim/pack/base/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/base/start/ale"]
	path = vim/pack/base/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/base/start/vim-fugitive"]
	path = vim/pack/base/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/base/start/vim-polyglot"]
	path = vim/pack/base/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/base/start/lightline.vim"]
	path = vim/pack/base/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
